PORT=4000
NODE_ENV=development
# DATABASE_URL="mysql://root:Barof1983#@127.0.0.1:3301/telalalqema"
CORS_ORIGIN=[http://localhost:3000]
ADMIN_SEED_EMAIL=admin@telal-contracting.com
ADMIN_SEED_PASSWORD=cB64eyxwGh6h4jgDxvqC7EUV

JWT_SECRET=g2rd4eITuulZ+EKD5d+MQImRvMowGsIqUyO+BJZC7J60FoZ6CrwimmBWh07ZEJL6

# LOCAL DEV test secret (public Google test value) - replace with the real rotated secret for live envs
RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe



# DATABASE_URL="mysql://root:Barof1983#@127.0.0.1:3306/contact_schema"
DATABASE_URL="mysql://root:Barof1983%23@127.0.0.1:3306/contact_schema"
DATABASE_USER="root"
DATABASE_PASSWORD="Barof1983#"
DATABASE_NAME="contact_schema"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306